<meta charset=UTF-8>
<script>
hide=(a,b)=>a.split``.map(c=>c.charCodeAt().toString(6).replace(/./g,d=>'‍⁠⁡⁢⁣⁤'[d])).join`‌`+b
reveal=a=>a.split`‌`.map(b=>String.fromCharCode(parseInt(b.replace(/./g,b=>'‍⁠⁡⁢⁣⁤'.indexOf(b)),6))).join``
</script>
<h1>SegCloak Lite</h1>
<h3>lite version of <a href=https://stegcloak.surge.sh>https://stegcloak.surge.sh</a></h3>
<textarea id=s rows=9 cols=40 placeholder="hidden secret" onchange=r.value=hide(s.value,m.value)></textarea>
<textarea id=m rows=9 cols=40 placeholder="visible message" onchange=r.value=hide(s.value,m.value)></textarea>
<textarea id=r rows=9 cols=40 placeholder="message to decode" onchange=s.value=reveal(r.value);m.value=''></textarea>
